<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="custom-card p-3 p-sm-4 c-container d-flex flex-column align-items-center justify-content-center">
    <div class="image-container mb-4">
      <img src="assets/img/card.png" alt="not-found-card" />
    </div>
    <p class="my-3">The card you are looking for could not be found.</p>
    <p class="sec-title my-3">Please ensure that the address is correct.</p>
    <span class="mt-4 mb-1 back-btn" routerLink="/">return to the homepage</span>
  </div>
</div>
