<div class="home p-4">
  <div class="row flex-md-row flex-column-reverse home__main-section">
    <div class="col-md-6 col-12 d-flex flex-column justify-content-center align-items-center">
      <h1 class="title mb-3">Craft Your Unique Digital Card with <b>Tonet</b> and Share It with the World!</h1>
      <a href="https://my.tonet.me">
        <button class="custom-btn px-5 py-4">Explore Now</button>
      </a>
    </div>
    <div class="col-md-6 col-12 mb-md-0 mb-4 d-flex justify-content-center align-items-center">
      <img class="banner" src="assets/img/banner.png">
    </div>
  </div>

  <div class="row home__features-section my-5">
    <div class="col-lg-3 col-md-6 col-12 my-3 d-flex align-content-stretch">
      <div class="card  d-flex align-items-center flex-column p-4 mx-lg-2">
        <i class="icon-holder d-flex justify-content-center align-items-center">
          <img ngSrc="assets/img/user.svg" alt="customizable-profiles-feature" width="40" height="40"/>
        </i>
        <h2>Customizable Profiles</h2>
        <p>Users can create personalized profiles with their name and add their social media handles, email addresses,
          and additional links like portfolio websites or blogs.</p>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 my-3 d-flex align-content-stretch">
      <div class="card d-flex align-items-center flex-column p-4 mx-lg-2">
        <i class="icon-holder d-flex justify-content-center align-items-center">
          <img ngSrc="assets/img/share.svg" alt="easy-sharing-feature" width="40" height="40"/>
        </i>
        <h2>Easy Sharing</h2>
        <p>Share profiles effortlessly with others by generating a unique URL for each profile. This allows users to
          quickly share their contact information and online presence with colleagues, clients, or friends.</p>
      </div>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 my-3 d-flex align-content-stretch">
      <div class="card d-flex align-items-center flex-column p-4 mx-lg-2">
        <i class="icon-holder d-flex justify-content-center align-items-center">
          <img ngSrc="assets/img/edit.svg" alt="seamless-updates-feature" width="40" height="40"/>
        </i>
        <h2>Seamless Updates</h2>
        <p>Update your information anytime without hassle. Whether it's a new social media account, a changed email
          address, or an additional link, users can easily edit and update their profile to reflect the latest
          changes.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 my-3 d-flex align-content-stretch">
      <div class="card  d-flex align-items-center flex-column p-4 mx-lg-2">
        <i class="icon-holder d-flex justify-content-center align-items-center">
          <img ngSrc="assets/img/security-safe.svg" alt="privacy-controls-feature" width="40" height="40"/>
        </i>
        <h2>Privacy Controls</h2>
        <p>Maintain control over your information with customizable privacy settings. Users can choose what information
          to display publicly and what to keep private, ensuring they maintain their desired level of online visibility
          and privacy</p>
      </div>
    </div>
  </div>
  <div class="home__report-section my-5">
    <div class="row">
      <div class="col-md-6 col-12 mb-md-0 mb-4 d-flex justify-content-center align-items-center">
        <img class="banner" src="assets/img/report.svg" alt="analytics-card-banner">
      </div>
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center px-0 px-md-4">
        <h3>Analytics Card</h3>
        <p class="title"> Keep track of your profile's performance with our new Analytics Dashboard
          feature. Get detailed reports on how many times your card has been viewed, helping you gauge your online
          presence and reach. Understand your audience better and optimize your profile for maximum impact.</p>
      </div>
    </div>

  </div>
  <div class="home__contract-us-section my-5">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-6 col-12 d-flex flex-column justify-content-center px-0 px-md-4">
        <h3>Contact Us</h3>
        <p class="title "> Have questions or feedback? We're here to help! Feel free to reach out to our
          dedicated support team via
          email
          at <a href="mailto:tonet@gmail.com">{{ 'tonet@gmail.com' }}</a> Whether you need assistance with using the
          platform, have
          suggestions for new features, or
          simply want to get in touch, we're ready to assist you promptly and effectively.</p>
      </div>
      <div class="col-md-6 col-12 mb-md-0 mb-4 d-flex justify-content-center align-items-center">
        <img class="banner" src="assets/img/support.png" alt="support-banner">
      </div>
    </div>

  </div>
</div>
