@import "src/assets/styles/variable.scss";
@import "src/assets/styles/mixins/card.scss";

.custom-card {
  width: calc(100% - 32px);
  max-width: 768px;
  @include custom_card();

  .card-holder-img {
    width: clamp(4.375rem, 2.9044rem + 7.3529vw, 7.5rem);
    height: clamp(4.375rem, 2.9044rem + 7.3529vw, 7.5rem);
    border-radius: 32px;
    background: $primary;

    & .cover {
      width: inherit;
      height: inherit;
      border-radius: 32px;
    }

    & .icon {
      width: 48px;
      height: 48px;
    }
  }

  .title {
    font-size: clamp(1rem, 0.9059rem + 0.4706vw, 1.3rem);
  }

  .name {
    font-size: clamp(0.9rem, 0.7059rem + 0.4706vw, 1.1rem);
    color: $primary-light;
  }

  .qr-code {
    width: clamp(4.375rem, 2.9044rem + 7.3529vw, 7.5rem);
    height: clamp(4.375rem, 2.9044rem + 7.3529vw, 7.5rem);
  }

  section {
    h3 {
      margin: 16px 0;
      font-size: clamp(1rem, 0.94rem + 0.64vw, 1.2rem);
      font-weight: 500;
    }

    .item {
      .item-title {
        color: $primary-light;
        font-size: clamp(0.7rem, 0.56rem + 0.56vw, 0.825rem);
      }

      .value {
        color: $text;
        text-decoration: none;
        font-size: clamp(0.875rem, 0.775rem + 0.4vw, 1.05rem);
        margin-top: 3px;
      }
    }
  }

  .social-media {
    img {
      filter: grayscale(100%);
      cursor: pointer;
      transition: 0.5s;
      margin-right: 16px;
      margin-bottom: 16px;

      &:hover {
        filter: grayscale(0%);
        transition: .5s;
      }
    }
  }
}


qrcode::ng-deep .qrcode {

  & canvas {
    border-radius: 16px !important;
  }
}

.share-btn {
  cursor: pointer;
  width: 180px;
  height: 45px;
  border-radius: 2rem;
  background: $primary;
  color: $white;
  border: none;
}
